<main  class="main">
    <div class="container  mainContainer">
          
        <div class="container-fluid px-0 py-0  formContainer">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text-center">
                  
                    <div class="card">
                        <h5 class="text-center mb-4">Fill In Client Information Here:</h5>
        
                        <form class="form-card" #AgentAddForm="ngForm" (ngSubmit)="addClientFormSubmited()">
                            
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">User Name
                                        <span class="text-danger"> *</span></label>
        
                                         <input type="text"
                                         [(ngModel)]="client.userName"
                                         #FirstName="ngModel"
                                          id="fname" 
                                          name="fname"
                                           placeholder="Enter your first name" 
                                           required 
                                           pattern="[a-zA-Z]+"> 
                                        </div>
                            </div>
        
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">First name
                                        <span class="text-danger"> *</span></label>
        
                                         <input type="text"
                                         [(ngModel)]="client.firstName"
                                         #FirstName="ngModel"
                                          id="fname" 
                                          name="fname"
                                           placeholder="Enter your first name" 
                                           required 
                                           pattern="[a-zA-Z]+"> 
                                        </div>
        
                                       
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Last name
                                        <span class="text-danger"> *</span></label> 
                                        
                                        <input type="text" 
                                        [(ngModel)]="client.lastName"
                                        #LastName="ngModel"
                                        id="lname" 
                                        name="lname" 
                                        placeholder="Enter your last name" 
                                        required
                                        pattern="[a-zA-Z]+"> </div>
                                        
                                      
                            </div>
        
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <div *ngIf="(FirstName.touched && !FirstName.valid)">
                                        <div class="alert alert-danger" *ngIf="(FirstName.errors && FirstName.errors.required)"> first name Field is required</div>
                                        <div class="alert alert-danger"*ngIf="(FirstName.errors && FirstName.errors.pattern)" > Invalid Format for first name</div>
                                       
                                    </div></div>
                                    <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <div *ngIf="(LastName.touched && !LastName.valid) ">
                                       
                                        <div class="alert alert-danger" *ngIf="(LastName.errors && LastName.errors.required)"> last name Field is required</div>
                                        <div class="alert alert-danger"*ngIf="(LastName.errors && LastName.errors.pattern)" > Invalid Format for last name</div>
                                    </div>
                                    </div>
                                </div>
                           
        
                            <div class="row justify-content-between text-left">
        
                                <div class="form-group col-sm-6 flex-column d-flex">
        
                                     <label class="form-control-label px-3">Email Adress
                                         <span class="text-danger"> *</span></label> 
                                         
                                         <input type="text"
                                         [(ngModel)]="client.email"
                                         #AgentEmail="ngModel" 
                                         id="Agentemail" 
                                         name="AgentEmail" 
                                         placeholder="Ex: john.doe@gmail.com"
                                         required 
                                         pattern="^[a-zA-Z0-9.]+@gmail.com$">
                                 </div>
        
                                 <div class="form-group col-sm-6 flex-column d-flex">
        
                                    <label class="form-control-label px-3">Phone Number
                                        <span class="text-danger"> *</span></label> 
                                        
                                        <input type="text"
                                        [(ngModel)]="client.phoneNumber"
                                        #AgentPhoneNumber="ngModel" 
                                        id="AgentPhoneNumber" 
                                        name="AgentPhoneNumber" 
                                        placeholder="Ex:+2126000000"
                                        required
                                        pattern="[0-9+]+"
                                        minlength="10">
                                </div>
        
                               
                               
                            </div>
        
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <div *ngIf="(AgentEmail.touched && !AgentEmail.valid)">
                                        <div class="alert alert-danger" *ngIf="(AgentEmail.errors && AgentEmail.errors.required)"> email adress Field is required</div>
                                        <div class="alert alert-danger"*ngIf="(AgentEmail.errors &&AgentEmail.errors.pattern)" > Invalid Format for email adress</div>
                                       
                                    </div></div>
                                    <div class="form-group col-sm-6 flex-column d-flex"> 
                                        <div *ngIf="(AgentPhoneNumber.touched && !AgentPhoneNumber.valid) ">
                                   
                                            <div class="alert alert-danger" *ngIf="(AgentPhoneNumber.errors && AgentPhoneNumber.errors.required)"> phone number Field is required</div>
                                            <div class="alert alert-danger"*ngIf="(AgentPhoneNumber.errors && AgentPhoneNumber.errors.pattern)" > Invalid Format for phone number</div>
                                            <div class="alert alert-danger"*ngIf="(AgentPhoneNumber.errors && AgentPhoneNumber.errors.minlength)" > phone number must have at least 10 digits</div>
                
                                        </div>
                                    </div>
                                </div>
        
                          
                            <div class="row justify-content-center">
        
                                <div class="form-group col-sm-6">
                                    
                                    <button type="submit" class="btn-block btn-primary">Add Client</button> </div>
        
                            </div>
                      
              
            </form>
        
            </div>
        </div>

          
    </div>
        </div>
    </div>
  </main>
