<div class="container-fluid homeContainer">
    <div class="col-lg-6 mb-0 mb-lg-0 contentBox" style="z-index: 10">
        <h1 class="my-0 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          EnsaPay Agents <br />
          <span style="color: hsl(218, 81%, 75%)">Login Portal</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Temporibus, expedita iusto veniam atque, magni tempora mollitia
          dolorum consequatur nulla, neque debitis eos reprehenderit quasi
          ab ipsum nisi dolorem modi. Quos?
        </p>
        <button class=" btn btn-light-moon" routerLink="/login">Log In to get Started</button>
      </div>
  </div>